@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Autour One", system-ui;
    font-weight: 400;
    font-style: normal;
    background: #e9edc9;
}

.side-nav-open {
    transform: translateX(0) !important;
}